.search {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.search p {
  display: flex;
  justify-self: start;
  margin: 5px 5px;
}
.search input {
  width: 402px;
  height: 30px;
  border: 2px solid #111;
  border-radius: 5px;
  padding-left: 5px;
}
